<h2>Eat Da Burger!</h2>
<img width="256px" height="256px"
src="https://image.cnbcfm.com/api/v1/image/106322586-1578324793503bk_rebel_b_whopper_kv_0002_lightgreen.jpg?v=1578325001&w=1400&h=950">

<h3>Burger Name:</h3>
<input id="burgername"></textarea>
<br>
<button id="submit">Submit</button>