<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Nick's News Scraper</title>
	</head>
	<body>
		<center>
			<h2>Nick's News Scraper</h2>
			<h3>Stolen from NY Times</h3>
		</center>
		{{{ body }}}
	</body>
</html>
